@charset "UTF-8";
	#main h3#pdfGenHead {cursor:pointer;}
	#main h3#pdfGenHead em {padding:0 5px;}
	
	#progressBarWrap {
		display:none;
		vertical-align:middle;
	}
	#iframeWrap iframe {
		margin-bottom:10px;
		border:1px solid black;
	}
	iframe#pgframe {
		position: absolute;
		left: -100px;
		top: -100px;
	
		width: 10px;
		height: 10px;
		overflow: hidden;
	}

	#progressbar {
		/*margin-top:3em;*/
	}
	
	.pg-progressbar {
		position: relative;
	
		width: 150px;
		height: 24px;
		overflow: hidden;
		margin-left:auto;margin-right:auto;
		border: 1px solid #c6c6c6;
	}
	
	.pg-progress {
		//z-index: 150;
	
		position: absolute;
		left: 0;
		top: 0;
	
		width: 0;
		height: 24px;
		overflow: hidden;
	}
	
	.pg-progressstyle {
		height: 22px;
	
		border: 1px solid #748a9e;
		background-image: url(./cssimg/animation.gif);
	}
	
	.pg-text,
	.pg-invertedtext {
		position: absolute;
		left: 0;
		top: 4px;
	
		width: 150px;
	
		text-align: center;
		font-family: sans-serif;
		font-size: 12px;
	}
	
	.pg-invertedtext {
		/*color: #ffffff;*/
	}
	
	.pg-text {
		z-index: 100;
		color: #000000;
	}