@charset "UTF-8";

#guestListArea {
	width:200px;
	float:left;
	
}

#floorAreaWrap {
	margin-left:220px;
	background:gray;
	overflow:auto;
}
div.groupUnit {
	width:200px;
	height:16em;
	float:left;
	border:1px solid gray;
	background:white;
}
div.groupSortHandle {
	color:white;
	background:black;
	cursor:move;
}
.ui-draggable-dragging {
	display:block !important;
	width:200px !important;
}
.dropOver {background:#ffc !important;}
#floorArea div.groupUnit ul li.placeholder {
	height:3em;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #fff, #faa);
	background-image: -ms-linear-gradient(top, #fff, #faa);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#faa));
	background-image: -webkit-linear-gradient(top, #fff, #faa);
	background-image: -o-linear-gradient(top, #fff, #faa);
	background-image: linear-gradient(top, #fff, #faa);
}

#guestList ul,
#floorArea div.groupUnit ul {
	margin:0;
	padding:0;
}
#guestList ul li,
#floorArea div.groupUnit ul li {
	cursor:move;
	font-size:11px;
	height:3em;
	margin:0 1px;
	padding:1px 3px;
	list-style:none;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #fff, #ccc);
	background-image: -ms-linear-gradient(top, #fff, #ccc);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background-image: -webkit-linear-gradient(top, #fff, #ccc);
	background-image: -o-linear-gradient(top, #fff, #ccc);
	background-image: linear-gradient(top, #fff, #ccc);
}
#guestList ul li:hover,
#floorArea div.groupUnit ul li:hover {
	background:#ccc;
}

#guestList ul {
	min-height:6em;
	max-height:350px;
	border:1px solid gray;
	overflow:auto;
}

#floorArea div.groupUnit ul li {
	float:left;
	width:92px;
}